* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.calc {
    width: 400px;
    height: 600px;
    background-color: beige;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.screen {
    width: 350px;
    height: 60px;
}

.container {
    width: 350px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
}

.num, .operator {
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
