* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.calc {
    width: 400px;
    height: 700px;
    background-color: beige;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.screen {
    width: 350px;
    height: 60px;
    font-size: 24px;
    padding: 5px;
}

.container {
    width: 350px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 44px;
}

.num, .operator, .result, .reset, .delete {
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.num:hover, div.operator:hover, div.reset:hover, div.delete:hover, div.result:hover {
    cursor: pointer;
    background-color: cadetblue;
}
